.carousel-avaliacoes{
    padding: var(--espacamento-padrao);
}

.react-multi-carousel-list{
    margin: 0 auto;
    width: 100%;
    max-width: 80rem;
<<<<<<< HEAD
=======
    height: 22rem;
    margin-bottom: 4rem;
>>>>>>> 9bf72a0 (Fiz a parte de responsividade do Header; Adicionei algumas imagens a pasta img, mas o ideal seria montarmos nossos próprios banners; E tentei mexer na responsividade do Carrossel de avaliações, mas ficou totalmente quebrado, e aí reverti as alterações.)
}

.react-multi-carousel-dot--active button{
    background: #C9C9C9;
}

.react-multiple-carousel__arrow--left, .react-multiple-carousel__arrow--right{
    display: none;
}

.container-avaliacao, .react-multi-carousel-list, .react-multi-carousel-dot-list{
    padding: 1rem;
}

.react-multi-carousel-list{
    background-color: #E4E4E4;
    border-radius: 24px;
    -webkit-box-shadow: 0 0 10px #d2cece;
    box-shadow: 0 0 10px #d2cece;
}

.react-multi-carousel-dot-list{
    justify-content: flex-end;
}

<<<<<<< HEAD
.container-botao{
    padding: 0 2rem;
=======
@media (max-width: 1320px) {
    /* ia mexer com a responsividade dessa parte, mas fiquei meio em dúvida de como fazer.*/
    .react-multi-carousel-dot-list {
        padding: 20;
    }
>>>>>>> 9bf72a0 (Fiz a parte de responsividade do Header; Adicionei algumas imagens a pasta img, mas o ideal seria montarmos nossos próprios banners; E tentei mexer na responsividade do Carrossel de avaliações, mas ficou totalmente quebrado, e aí reverti as alterações.)
}