.locais-doacao{
    background-color: var(--cor-fundo-azul);
    padding: 2rem 3rem;
    margin-top: var(--espacamento-margin);
}

.texto-doacao{
    width: 100%;
    max-width: 45rem;
}

.input-posicao{
    background-color: #F7F7F7;
    border-radius: 30px;
    padding: .5rem 1rem;
    -webkit-box-shadow: 0 0 10px #90baf9;
    box-shadow: 0 0 10px #90baf9;
    position: relative;
}

.input-posicao:focus{
    outline: 0;
}

.span-pesquisar{
    background-image: url('../../assets/img/lupa.svg');
    width: 28px;
    height: 28px;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    bottom: .5rem;
    right: 1.1rem;
}

.span-pesquisar:hover{
    cursor: pointer;
}

.mapa-marker{
    margin-top: -2rem;
}