.banner-carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.banner-carousel .p-1, .banner-carousel .p-6, .banner-carousel .bg-card{
    padding: 0;
    border: 0;
}